*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
title{
    text-decoration: none;
}
.main{
    width: 100%;
    height :8vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#b7ad42,#bc860f);
}
.main h1 a{
    color: white;
    text-decoration: none;
}
nav{
    width: 90%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display:flex;
    align-items: center;
}
.menu{
    flex: 1;
    text-align: right;   
}
.menu ul li{
    list-style:none;
    display: inline-block;
    margin: 0 40px;
}
.menu ul ion-icon{
    color: white;
    font-size:30px;
}
.menu ul ion-icon:hover{
    color: black;
}

.menu ul li a{
    color: white;
    text-decoration: none;
}
.menu ul li a:hover{
    color: black;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 100%;
    background: url('background.jpg');
    background-position: center;
    border-width: 110px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    border-width: 110px;
    background: url('background.jpg');
}
.text h1{
    position: absolute;
    top: 11%;
    left: 40%;
    font-size:40px;
    color: white;
}

.textinputbox textarea{
    position: absolute;
    width: 120vh;
    height: 58vh;
    left:18%;
    top: 20%;
    font-family:"Times New Roman", Times, serif;  
    font-size: 21px; 
    line-height: 1.5;  
    background-color: #40444B;
    color: white;
    resize: none;
    border-radius: 40px;
    padding:2em;
}  
.textinputbox textarea h1{
    position:absolute;
    font-size: 30px;
    top:25%;
    left:30%;
}
.textinputbox p{
    position:absolute;
    font-size: 21px;
    top:35%;
    left:20%;
    width: 120vh;
    color: white;
}
.title h1{
    position: absolute;
    top: 28%;
    left: 24%;
    font-size:60px;
}
.title h4{
    position: absolute;
    top: 37%;
    left: 24.5%;
    font-size:30px;
}
.sumtext h2 a{
    position: absolute;
    top: 52%;
    left: 39%;
    color: white;
    text-decoration: none;
    font-size:15px;
}
.sumtext h2 a:hover{
    color: black;
}
button{
    position: absolute;
    top: 45%;
    right: 20%;
    width:8%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
}
.button a{
    color: inherit;
  text-decoration: inherit;
}
button:hover{
    color: white;
    background-color: black;
}
.textbutton button{
    position: absolute;
    top: 93%;
    right: 45%;
    width:8%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
}
.textbutton button a{
    color: inherit;
  text-decoration: inherit;
}
.textbutton button:hover{
    color: white;
    background-color: black;
}
.inputbox{
    position: absolute;
    top: 45%;
    left: 24%;
    width:45%;
    height: 45px;
    border-radius: 40px;
    background: black;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: white;
}
input[type="text"] {
    /* Styles for the input box */
    border-radius: 30px;
    outline: none;
  }
  
  input[type="text"]::-webkit-autofill {
    background-color: transparent !important;
    color: black; /* Change color as needed */
  }
  
  input[type="text"]::-webkit-autofill:hover,
  input[type="text"]::-webkit-autofill:focus {
    background-color: transparent !important;
  }
  
.tutorial{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    width: 100%;
    background: url('background2.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.tutorial h1{
    position: absolute;
    top: 71%;
    align-items: center;
    font-size:60px;
    color: white;
}
.tutorial h4{
    position: absolute;
    top: 81%;
    align-items: center;
    font-size:30px;
    color: white;
}
.step1{
    position: absolute;
    top: 87%;
    left: 20%;
    font-size:28px;
    color: white;
}
.step1 img{
    width:800px;
    height:250px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 30px;
}
.step2{
    position: absolute;
    top: 125%;
    left: 20%;
    font-size:28px;
    color: white;
}
.step2 img{
    width:450px;
    height:200px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 30px;
}
.step3{
    position: absolute;
    top: 157%;
    left: 20%;
    font-size:28px;
    color: white;
}
.step3 img{
    width:800px;
    height:400px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 30px;
}
.footer{
    position:relative;
    bottom: -130%;
    width: 100%;
    height :18vh;
    overflow: hidden;
    background: linear-gradient(to right,#b7ad42,#bc860f);
    background-size:cover;
}
.footer h2{
    position: absolute;
    left: 13%;
    color: white;
    font-size: 30px;
}
.footer h4{
    position: absolute;
    bottom: 57%;
    left: 13%;
    color: white;
    font-size: 26px;
}
.footer p{
    position: absolute;
    bottom: 20%;
    left: 13%;
    color: white;
    font-size: 18px;
    max-width: 50vh;
}
.contact p{
    position: absolute;
    bottom: 44%;
    left: 72%;
    color: white;
    font-size: 20px;
}
.contact p:hover{
    color: black;
}
.contact h5{
    position: absolute;
    bottom: 59%;
    left: 72%;
    color: white;
    font-size: 20px;
}
.contact ion-icon{
    position: absolute;
    bottom: 45%;
    left: 83%;
    color: white;
    font-size: 30px;
}
.copyright h6{
    color:white;
    position: absolute;
    text-align: center;
    bottom:1%;
    left:40%;
    font-size:14px;
}