*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
title{
    text-decoration: none;
}
.main{
    width: 100%;
    height :8vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#b7ad42,#bc860f);
}
.main h1 a{
    color: white;
    text-decoration: none;
}
nav{
    width: 90%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display:flex;
    align-items: center;
}
.menu{
    flex: 1;
    text-align: right;   
}
.menu ul li{
    list-style:none;
    display: inline-block;
    margin: 0 40px;
}
.menu ul ion-icon{
    color: white;
    font-size:30px;
}
.menu ul ion-icon:hover{
    color: black;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}
.menu ul li a:hover{
    color: black;
}
.summarypage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('background.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.summarypage h1{
    position: absolute;
    color: white;
    top: 15%;
    font-size: 60px;
}
.outputbox textarea{
    position: absolute;
    width: 120vh;
    height: 58vh;
    left:18%;
    top: 25%;
    font-family:"Times New Roman", Times, serif;  
    font-size: 21px; 
    line-height: 1.5;  
    background-color: #40444B;
    color: white;
    resize: none;
    border-radius: 40px;
    padding:2em;
}    
.outputbox textarea h1{
    position:absolute;
    font-size: 30px;
    top:25%;
    left:30%;
}
.outputbox p{
    position:absolute;
    font-size: 21px;
    top:35%;
    left:20%;
    width: 120vh;
    color: white;
}
.bookmark button{
    position: absolute;
    top: 98%;
    right: 20%;
    width:10%;
    height: 40px;
    border-radius: 40px;
    color:black;
    background-color: white;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.bookmark button ion-icon{
    position:absolute;
    right: 10%;
    font-size: 1.5em;
}
button:hover{
    background-color: black;
    color:white;
}
.generatepdf button{
    position: absolute;
    top: 98%;
    right: 31%;
    width:10%;
    height: 40px;
    border-radius: 40px;
    color:black;
    background-color: white;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.generatepdf button:hover{
    background-color: black;
    color:white;
}
.footer{
    position:relative;
    bottom: -130%;
    width: 100%;
    height :18vh;
    overflow: hidden;
    background: linear-gradient(to right,#b7ad42,#bc860f);
    background-size:cover;
}
.footer h2{
    position: absolute;
    left: 13%;
    color: white;
    font-size: 30px;
}
.footer h4{
    position: absolute;
    bottom: 57%;
    left: 13%;
    color: white;
    font-size: 26px;
}
.footer p{
    position: absolute;
    bottom: 20%;
    left: 13%;
    color: white;
    font-size: 18px;
    max-width: 50vh;
}
.contact p{
    position: absolute;
    bottom: 44%;
    left: 72%;
    color: white;
    font-size: 20px;
}
.contact p:hover{
    color: black;
}
.contact h5{
    position: absolute;
    bottom: 59%;
    left: 72%;
    color: white;
    font-size: 20px;
}
.contact ion-icon{
    position: absolute;
    bottom: 45%;
    left: 83%;
    color: white;
    font-size: 30px;
}
.copyright h6{
    color:white;
    position: absolute;
    text-align: center;
    bottom:1%;
    left:40%;
    font-size:14px;
}